# Dependencies
node_modules/

# Environment variables
.env
client/.env
server/.env

# Build files
dist/
build/
client/dist/

# Uploads
server/uploads/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Coverage
coverage/